/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 #header{ background: #D8D8D8 !important; }

 .hook-container {
  display: flex;
  justify-content: space-between; /* lub "space-around", jeśli potrzebujesz marginesów */
  align-items: center; /* Opcjonalnie wyrównaj w pionie */
  width: 75%;
}

#custom{
  width: 570px;
  column-width: 600px;
  column-gap: 20px;
  height: 690px;
  text-align: justify;
}

.about {
  display: flex;
  width: 99%;
}

.left {
  flex: 1 !important;
  padding: 20px!important;
}

#custom-text h1{
  color: red !important;
  text-align: left !important;
}

.right {
  flex: 1;
  padding: 20px;
}

#_desktop_user_info {
  display: flex;
  justify-content: flex-end;  /* Wyrównanie elementów do prawej */
  width: 65%;
}

#_desktop_cart {
  display: flex;
  justify-content: flex-end;  /* Wyrównanie elementów do prawej */
}
  
  header {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }

  .header-top{
    padding: 0px !important;
  }
  
  /* Górna sekcja */
  .header-top2 {
    background-color: #e3e3e3;
    padding: 10px 20px;
  }
  
  .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .info-item {
    display: flex;
    align-items: center;
    flex: 1 1 30%;
    justify-content: center;
    font-size: 14px;
    color: #333;
   
  }
  
  .info-item img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  /* Dolna sekcja */
  .header-bottom {
    background-color: #2a80ba;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-button{
    display: flex;
    align-items: center;
    color: white !important;
  }
  
  .header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  
  .sitemap-link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: 50%;
  }
  
  .search-bar input {
    border: none;
    padding: 5px;
    outline: none;
  }
  
  ::placeholder {
    color: blue;
  }
  
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    color: #2a80ba;
    text-align: center;
    margin-left: auto;
  }
  
  .search-bar i {
    font-size: 18px;
  }
  
  /* Dane kontaktowe */
  .header-contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .contact-info {
    font-size: 14px;
    margin-right: 20px;
    padding-right: 80px;
  }
  
  .contact-info span {
    display: block;
  }
  
  .contact-info a {
    color: white;
    text-decoration: none;
  }
  
  .social-icons{
    padding-left: 50px;
    padding-right: 50px;
  }

  #btn btn-primary add-to-cart{
    background-color: red !important;
  }
  
  a{
    padding: 10px;
  }
  
  i{
    padding-bottom: 5px;
  }

  .homeslider-container{
    width: 100% !important;
  }

  .container{
    width: 100% !important;
    padding: 0px !important;
  }

  #wrapper{
    margin: 0px !important;
    padding: 0px !important;
  }

  #notifications {
    display: none;
  }


  .fs_lg {
    font-size: 24px;
  }
  
  .fto-phone:before {
    content: '\2709';
    font-family: "FontAwesome";
  }
  
  .fto-email:before {
    content: '\2709';
    font-family: "FontAwesome";
  }

  .fto-facebook:before {
    content: '\2709';
    font-family: "FontAwesome";
  }

  .fto-tiktok:before {
    content: '\2709';
    font-family: "FontAwesome";
  }

  .fto-instagram:before {
    content: '\2709';
    font-family: "FontAwesome";
  }

  .fto-youtube:before {
    content: '\2709';
    font-family: "FontAwesome";
  }